#container .central_breaking_news .navigate {float:right;}
#container .central_breaking_news .navigate span {float:left; display:block; margin-top:0px; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat 0 0;}
#container .central_breaking_news .navigate a {display:block; height:43px; font-size:0; overflow:hidden;}
#container .central_breaking_news .navigate .prev a {background-position:0 0;}
#container .central_breaking_news .navigate .prev {background-position:0 -21px; border-left:solid 0px #d4d0d0; float:left;}
#container .central_breaking_news .navigate .next a {background-position:-20px 0;}
#container .central_breaking_news .navigate .next {background-position:-20px -21px; border-left:solid 0px #f5f5f5; float:right;}

#container .central_breaking_news .c_foot {position:relative; width:656px; height:31px; margin:0; background:#d7d7d7; border-bottom:0px solid #e4e4e4; overflow:hidden;}
#container .central_breaking_news .c_foot .c_pager {height:31px; width:190px; float:left;}
#container .central_breaking_news .c_foot .c_pager * {display:block; float:left; padding:0 5px; height:31px; line-height:31px; text-align:center; color:#898989; font-size:12px;}
#container .central_breaking_news .c_foot .c_pager a.page {font-weight:bold; background:transparent;}
#container .central_breaking_news .c_foot .c_pager span {color:#444;}
#container .central_breaking_news .c_foot .c_pager a:hover {color:#363636;}
#container .central_breaking_news .c_foot .c_pager .selected {font-weight:bold; color:#363636; background:transparent; width:auto;}
#container .central_breaking_news .c_foot .c_pager .separator {border:0; padding:0 1px;}
#container .central_breaking_news .c_foot .navigate {position:absolute; height:31px; top:0; right:0; font-size:0; margin:0 10px 0 0; overflow:hidden;}
#container .central_breaking_news .c_foot .navigate span.prev {margin:5px 5px 0 0; width:20px;}
#container .central_breaking_news .c_foot .navigate span.prev a {display:block; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat 0 0;}
#container .central_breaking_news .c_foot .navigate span.next {margin:5px 0 0 0; width:20px;}
#container .central_breaking_news .c_foot .navigate span.next a {display:block; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat -20px 0;}



#container .right_most_viewed .navigate {float:right;}
#container .right_most_viewed .navigate span {float:left; display:block; margin-top:2px; width:25px; height:17px; background:transparent url('/static/img/buttons/navigator_vertical.png') no-repeat 0 -17px;}
#container .right_most_viewed .navigate a {display:block; width:25px; height:17px; background:transparent url('/static/img/buttons/navigator_vertical.png') no-repeat 0 0; font-size:0; overflow:hidden;}
#container .right_most_viewed .navigate .prev a {background-position:0 0;}
#container .right_most_viewed .navigate .prev {background-position:0 -17px; border:0px;}
#container .right_most_viewed .navigate .next a {background-position:-25px 0;}
#container .right_most_viewed .navigate .next {background-position:-25px -17px; border:0px;}

#container .right_most_viewed .c_foot {position:relative; height:38px; margin:0; background:#e6e6e6; border-bottom:0px solid #e4e4e4; overflow:hidden;}
#container .right_most_viewed .c_foot .c_pager {height:42px;}
#container .right_most_viewed .c_foot .c_pager * {display:block; float:left; padding:0 9px; height:42px; line-height:42px; text-align:center; color:#E65252; font-size:11px;}
#container .right_most_viewed .c_foot .c_pager span {color:#444;}
#container .right_most_viewed .c_foot .c_pager a:hover {color:#8120a4; background:url('/static/img/backgrounds/bg_type_5.gif') repeat-x 0 0;}
#container .right_most_viewed .c_foot .c_pager .selected {font-weight:normal; background:url('/static/img/backgrounds/bg_type_5.gif') repeat-x 0 0;}
#container .right_most_viewed .c_foot .c_pager .separator {border:0; padding:0 1px;}
#container .right_most_viewed .c_foot .navigate {position:absolute; height:27px; top:0; right:0; font-size:0; margin:11px 16px 0 0; overflow:hidden;}
#container .right_most_viewed .c_foot .navigate span {margin:0 3px;}

#container .right_most_viewed .navigate .c_info {float:left; display:block; width:70px; height: 27px; padding: 15px 0 0 0 ; background:#f5f5f5; text-align: center;}
#container .right_most_viewed .navigate .c_info .page {font:normal normal 14px arial; color:#414141;}
#container .right_most_viewed .navigate .c_info .pages {font:normal normal 14px arial; color:#aaaaaa;}

#container .right_most_viewed .c_foot {position:absolute; z-index:50; top:0px; right:0px; width:95px; height:39px; background:#00509e; text-align:center;}
#container .right_most_viewed .c_foot .c_info {display:none;}


#container .central_breaking_news .c_foot {}

#container .central_video {position:relative; z-index:10; overflow:hidden; padding:0px;}
#container .central_video .vhead {width:656px; height:38px; position:relative; background:url('/static/img/backgrounds/bg_center_caption_1.gif') repeat-x 0 0 transparent; border-bottom:1px solid #C2C2C2;}
#container .central_video .vhead .caption {position:relative; z-index:10; display:block; height:38px; padding:0 0 0 10px; font:normal bold 18px Helvetica; color:#00509e; line-height:38px; background:none; text-shadow:0 1px #ffda00;}

#container .central_video .lead {width:656px; height:31px; overflow:hidden; background:#d7d7d7; border-top:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; font:normal bold 14px/30px Arial; color:#555; text-indent:10px;}
#container .central_video .lead h1 {font:normal bold 14px/30px Arial; color:#555; width:450px; overflow:hidden; float:left;}
#container .central_video .lead .date {font:normal normal 12px/30px Arial; color:#898989; width:140px; overflow:hidden; float:right; text-align:right; margin:0 10px 0 0;}
#container .central_video .descr {font:normal normal 12px/14px Arial; color:#505050; padding:10px; background:#ececec;}


#container .central_video_list .navigate {float:right;}
#container .central_video_list .navigate span {float:left; display:block; margin-top:0px; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat 0 0;}
#container .central_video_list .navigate a {display:block; height:43px; font-size:0; overflow:hidden;}
#container .central_video_list .navigate .prev a {background-position:0 0;}
#container .central_video_list .navigate .prev {background-position:0 -21px; border-left:solid 0px #d4d0d0; float:left;}
#container .central_video_list .navigate .next a {background-position:-20px 0;}
#container .central_video_list .navigate .next {background-position:-20px -21px; border-left:solid 0px #f5f5f5; float:right;}
#container .central_video_list .navigate span.separator {float:left; display:block; margin-top:0px; height:21px; background:transparent;}

#container .central_video_list .c_foot {position:relative; width:656px; height:31px; margin:0; background:#d7d7d7; border-bottom:0px solid #e4e4e4; overflow:hidden;}
#container .central_video_list .c_foot .c_pager {height:31px; float:left;}
#container .central_video_list .c_foot .c_pager * {display:block; float:left; padding:0 5px; height:31px; line-height:31px; text-align:center; color:#898989; font-size:12px;}
#container .central_video_list .c_foot .c_pager a.page {font-weight:bold; background:transparent;}
#container .central_video_list .c_foot .c_pager span {color:#444;}
#container .central_video_list .c_foot .c_pager a:hover {color:#363636;}
#container .central_video_list .c_foot .c_pager .selected {font-weight:bold; color:#363636; background:transparent; width:auto;}
#container .central_video_list .c_foot .c_pager .separator {border:0; padding:0 1px;}
#container .central_video_list .c_foot .navigate {position:absolute; height:31px; top:0; right:0; font-size:0; margin:0 10px 0 0; overflow:hidden;}
#container .central_video_list .c_foot .navigate span.prev {margin:5px 5px 0 0; width:20px;}
#container .central_video_list .c_foot .navigate span.prev a {display:block; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat 0 0;}
#container .central_video_list .c_foot .navigate span.next {margin:5px 0 0 5px; width:20px;}
#container .central_video_list .c_foot .navigate span.next a {display:block; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat -20px 0;}


#container .central_full_video_list .navigate {float:right;}
#container .central_full_video_list .navigate span {float:left; display:block; margin-top:0px; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat 0 0;}
#container .central_full_video_list .navigate a {display:block; height:43px; font-size:0; overflow:hidden;}
#container .central_full_video_list .navigate .prev a {background-position:0 0;}
#container .central_full_video_list .navigate .prev {background-position:0 -21px; border-left:solid 0px #d4d0d0; float:left;}
#container .central_full_video_list .navigate .next a {background-position:-20px 0;}
#container .central_full_video_list .navigate .next {background-position:-20px -21px; border-left:solid 0px #f5f5f5; float:right;}
#container .central_full_video_list .navigate span.separator {float:left; display:block; margin-top:0px; height:21px; background:transparent;}

#container .central_full_video_list .c_foot {position:relative; width:656px; height:31px; margin:0; background:#d7d7d7; border-bottom:0px solid #e4e4e4; overflow:hidden;}
#container .central_full_video_list .c_foot .c_pager {height:31px; float:left;}
#container .central_full_video_list .c_foot .c_pager * {display:block; float:left; padding:0 5px; height:31px; line-height:31px; text-align:center; color:#898989; font-size:12px;}
#container .central_full_video_list .c_foot .c_pager a.page {font-weight:bold; background:transparent;}
#container .central_full_video_list .c_foot .c_pager span {color:#444;}
#container .central_full_video_list .c_foot .c_pager a:hover {color:#363636;}
#container .central_full_video_list .c_foot .c_pager .selected {font-weight:bold; color:#363636; background:transparent; width:auto;}
#container .central_full_video_list .c_foot .c_pager .separator {border:0; padding:0 1px;}
#container .central_full_video_list .c_foot .navigate {position:absolute; height:31px; top:0; right:0; font-size:0; margin:0 10px 0 0; overflow:hidden;}
#container .central_full_video_list .c_foot .navigate span.prev {margin:5px 5px 0 0; width:20px;}
#container .central_full_video_list .c_foot .navigate span.prev a {display:block; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat 0 0;}
#container .central_full_video_list .c_foot .navigate span.next {margin:5px 0 0 5px; width:20px;}
#container .central_full_video_list .c_foot .navigate span.next a {display:block; height:21px; background:transparent url('/static/img/buttons/navigator10.png') no-repeat -20px 0;}

#container .central_video .print {display:block; float:right; width:16px; height:14px; background: url("/static/img/backgrounds/bg_print.gif") no-repeat scroll 0 0px transparent; margin: 8px 20px 0 10px;}

#container .central_video .social_links {position:absolute; width:626px; height:65px; margin:0; padding:15px 15px 0 15px; background-color:#ECECEC;}
#container .central_video .social_links .fb_holder {margin:0; float:left; width:620px; padding:0 0 0px 0; height:24px;}
#container .central_video .social_links .g_button {padding:1px 0 0 0;}
#container .central_video .social_links .twitter_holder {float:left; padding:1px 0 0 0;}
#container .central_video .social_links .vk_holder {float:left; padding:0 30px 0 0; text-align:left;}
#container .central_video .bottom_social_holder {height:80px; margin:0px 0 0px 0; width:656px;}
#container .central_video .bottom_social_holder .social_links {position:absolute; width:626px; z-index:500;}
#container .central_video .bottom_social_holder .fb_holder {float:left; height:30px;}
#container .central_video .bottom_social_holder .g_button {float:left; clear:both; height:30px;}
#container .central_video .bottom_social_holder .twitter_holder {float:left; height:30px;}
#container .central_video .bottom_social_holder .vk_holder {float:left; height:30px;}

