/* central_news_list: START*/
#container .central_news_list .head {height:42px!important; background: url('/static/img/backgrounds/bg_type_2.gif') repeat 0 0; border-top:solid 1px #d9d7d7; border-bottom:solid 1px #e4e4e4;}
#container .central_news_list .head .caption {float:left; display:block; width:340px; height:42px!important; padding:0 20px; font:normal bold 14px arial; line-height:42px!important; color:#7a7a7a; }
#container .central_news_list .head .btn_type_1 {left:400px; display:block; width:88px; margin-top:10px; padding:0px;}
#container .central_news_list .head .c_foot {float:right; width: 158px;}
/* central_news_list: END*/

/* central_article_news: START*/
#container .central_article_news {margin:0px;}
#container .central_article_news .head {height:33px; overflow:hidden; background: url('/static/img/backgrounds/bg_center_caption_1.gif') repeat-x;}
#container .central_article_news .head .caption {height:33px; line-height:33px; overflow:hidden;}
#container .central_article_news .top {display:block; width:660px; background:url('/static/img/backgrounds/bg_article_top.gif') 0 0; position:relative; z-index:1000; /*overflow:hidden;*/}
#container .central_article_news .tleft {float:left; display:block; width:220px; height:146px;}
#container .central_article_news .tright {position:relative; float:right; display:block; height:146px;}

#container .central_article_news .body * {text-align:left;}
#container .central_article_news .body .date {display:block; height:31px;padding-left:12px; background:#d7d7d7; font: normal normal 11px arial; color:#898989; line-height: 31px; border-top: 1px solid #fff;}
#container .central_article_news .body .date span {font-weight: bold; font-size: 14px; color: #555555; text-transform: capitalize; line-height: 29px;}
#container .central_article_news .body .bright .image {width:315px; height:210px;}
#container .central_article_news .body .bright .noimg {display:none;}
#container .central_article_news .body .bright .image img {width:315px; height:210px; border: 1px solid #acacac;float: left; margin: 0 12px 12px 0;}
#container .central_article_news .body .bright .title {font:normal bold 20px arial; color:#00509e; line-height:23px; overflow:hidden; margin: 0 0 12px;}
#container .central_article_news .body a strong {font-weight:bold;}
#container .central_article_news .body strong,
#container .central_article_news .body strong * {font-weight:bold!important;}
#container .central_article_news .body strong em {font-style:italic!important;}
#container .central_article_news .body a:hover,
#container .central_article_news .body a:hover * {text-decoration:none;}
#container .central_article_news .body em {font-style:italic!important;}
#container .central_article_news .body em strong {font-style:italic!important;}

#container .central_article_news .body .menu { position: relative; z-index: 500; height: 45px; line-height: 40px; background:url('/static/img/backgrounds/bg_menu_channel.gif') repeat-x;}
#container .central_article_news .body .menu li {float: left; height: 45px; background:url('/static/img/backgrounds/bg_menu_channel_splitter.gif') no-repeat right;}
#container .central_article_news .body .menu li.active, #container .central_article_news .body .menu li:hover {background:url('/static/img/backgrounds/tail_menu.gif') no-repeat center bottom;}
#container .central_article_news .body .menu li a { display: block; height: 45px; font:normal bold 15px Arial; color:#e1e1e1; text-shadow: 0 1px #2d2d2d; line-height:40px; padding:0 15px 0 15px;}
#container .central_article_news .body .menu li a.active, #container .central_article_news .body .menu li a:hover {background:url('/static/img/backgrounds/bg_menu_channel_active.gif') top repeat-x; color: #ffea19;}
#container .central_article_news .body {display:block; width:660px; background: #ececec; border-top:1px solid #d9d7d7; border-bottom:0px solid #fff; overflow:hidden;}
#container .central_article_news .body .bleft {float:left; display:block; width:198px; padding:0 0 0 22px; background:url('/static/img/backgrounds/arrow_type_2.png') no-repeat 0 0; *background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/img/backgrounds/arrow_type_2.png',sizingMethod="no-scale");}
#container .central_article_news .body .bleft,
#container .central_article_news .body .bleft * {font-size:11px; color:#7a7a7a; line-height:16px;}
#container .central_article_news .body .bleft strong,
#container .central_article_news .body .bleft strong * {color:#444;}
#container .central_article_news .body .bleft a {color:#A762C0;}
#container .central_article_news .body .bleft a:hover {color:#8120A4;}
#container .central_article_news .body .bright {display:block; padding:12px 12px 0 12px;}
#container .central_article_news .body .bright p {margin:0 0 20px 0;}
#container .central_article_news .body .bright,
#container .central_article_news .body .bright * {font-size:12px; line-height:18px;}


#container .central_article_news .bottom_block {display:block; width:660px; margin:0; padding:0; border-top:1px solid #d9d7d7; border-bottom:1px solid #fff; overflow:hidden;}
#container .central_article_news .bb_head {display:block; width:660px; height:42px; background:url('/static/img/backgrounds/bg_type_2.gif') 0 0; border-bottom:1px solid #e4e4e4;}
#container .central_article_news .bb_head .title {display:block; float:left; padding:0 0 0 20px; font:normal bold 14px arial; color:#7a7a7a; line-height:42px;}
#container .central_article_news .bb_head .label {display:block; float:right; background:#f5f5f5; padding:0 10px; font:normal normal 14px arial; color:#aaa; line-height:42px;}
#container .central_article_news .bb_content {padding:15px 0; background:#fff;}

#container .central_article_news .social_links_top {position: absolute; display:block; width:260px; height:20px; margin:16px 0 0 0px; top:100px; left:180px; z-index:200;}
#container .central_article_news .social_links_top .twitter_holder {width:20px; float:left; padding:3px 0 0 0;}
#container .central_article_news .social_links_top .fb_holder {margin:0px; float:left; width:143px; text-align:left;}
#container .central_article_news .social_links_top .vk_holder {float:left; width:20px; text-align:left; padding:3px 7px 0 0;}

#container .central_article_news .social_links {position:absolute; width:630px; height:70px; margin:0; padding:15px 15px 0 15px; background-color:#ececec; border-top:0px solid #d8d8d8;}
#container .central_article_news .social_links .fb_holder {margin:0; float:left; width:620px; padding:0 0 0px 0; height:24px;}
#container .central_article_news .social_links .g_button {padding:1px 0 0 0;}
#container .central_article_news .social_links .twitter_holder {float:left; padding:1px 0 0 0;}
#container .central_article_news .social_links .vk_holder {float:left; padding:0 30px 0 0; text-align:left;}
#container .central_article_news .print {display:block; float:right; width:16px; height:14px; background: url("/static/img/backgrounds/bg_print.gif") no-repeat scroll 0 0px transparent; margin: 8px 20px 0 0px;}

#container .comments_block {}
#container .central_news_list .nl_footer {display:none;}
#container .channel_news {margin-bottom:15px;}
#container .channel_news .body .date {margin-top:-5px; height:36px;}

#container .central_article_news .top_social_holder {width:270px; height:31px; padding: 0 0px 0 0; float:right; text-align:right;}
#container .central_article_news .top_social_holder .top_social_b {position:absolute; margin:5px 0 0 0; padding:0 0 0 25px; z-index:5000;}
#container .central_article_news .top_social_holder .g_button {float:left; width:80px;}
#container .central_article_news .top_social_holder .twitter_holder {float:left; margin:3px 10px 0 0;}
#container .central_article_news .top_social_holder .vk_holder {float:left; margin:3px 10px 0 0;}
#container .central_article_news .top_social_holder .fb_holder {float:left;}

#container .central_article_news .bottom_social_holder {height:80px; margin:0px 0 0px 0; width:656px;}
#container .central_article_news .bottom_social_holder .social_links {position:absolute; width:626px; z-index:500;}
#container .central_article_news .bottom_social_holder .fb_holder {float:left; height:30px;}
#container .central_article_news .bottom_social_holder .g_button {float:left; clear:both; height:30px;}
#container .central_article_news .bottom_social_holder .twitter_holder {float:left; height:30px;}
#container .central_article_news .bottom_social_holder .vk_holder {float:left; height:30px;}
/* central_article_news: END*/


#container .gallery {
    padding-bottom: 15px!important;
}

#container .gallery-image {
    padding: 5px;
    width: 145px;
}