{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% load thumbnail %}
{% load youtube_filter %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.video.css' />
{% endblock %}
{% block content_left %}
    <div class='central_main_box central_full_video_list' id='central_full_video_list'>

        <div class='head'>
            <h2><span class='caption'>Результаты поиска:</span></h2>
        </div>
        <div class='content'>
            {% if query %}
                <ul class='news_list'>
                    {% for result in page.object_list %}

                        <li class='item '>
                            <a href='{{ result.object.get_absolute_url }}' class='link'>
                            <span class='info'>
                                 <span class='title'>{{ result.object.title }}</span>
                                 <span class='date'>{{ result.object.date|date:"d E Y H:i" }}</span>
                                 <span class='descr'>{{ result.object.content|striptags|truncatechars:130 }}</span>
                            </span>
                                <span class='clear'></span>
                            </a>
                        </li>
                    {% empty %}
                        <p>По вашему запросу ничего не найдено.</p>
                    {% endfor %}
                </ul>
                <div class='clear'></div>






                <div class="c_foot" style="">
                    <div class="navigate">
                        {% if page.has_previous %}
                            <span class="prev"><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&lt;</a></span>
                        {% else %}
                            <span class="prev"></span>
                        {% endif %}



                        {% if page.has_next  %}
                            <span class="next"><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">&gt;</a></span>
                        {% else %}
                            <span class="next"></span>
                        {% endif %}
                    </div>
                </div>

                <div class="clear"></div>


            {% else %}
                <p>По вашему запросу ничего не найдено.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}