{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% load thumbnail %}
{% load youtube_filter %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.article.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/lightbox.css' />
    <script type='text/javascript' src='{{ STATIC_URL }}js/lightbox.min.js'></script>
{% endblock %}

{% block content_left %}


    <div class="central_article_news">
        <div class="head"><h2><a class="caption" href="{% url "view_news_all" %}">Новости</a></h2></div>
        <div class="body">
            <div class="date"><span>{{ article.date|date:"d E Y" }}</span> Последнее обновление {{ article.date|date:"H:i" }}
                <div class="top_social_holder">
                    <noindex>
                        <div class="top_social_b">
                            <div class='g_button'><g:plusone size="medium"></g:plusone></div>
                            <div class='twitter_holder'>
                                <a href="javascript:void();" onclick="window.open('http://twitter.com/share?_=&count=none&original_referer=' + encodeURIComponent(document.location.href) + '&text=' + encodeURIComponent($('meta[property=\'og:title\']').attr('content')) + ' - ' +'&url=' + encodeURIComponent(document.location.href), 'Twitter', 'width=656,height=539,menubar=no,location=no,resizable=no,scrollbars=no,status=no');return false;"><img src=/static/img/buttons/twitter-top.png border=0></a>
                            </div>
                            <div class='fb_holder'>
                                <fb:like action="recommend" layout="button_count" show_faces="false" colorscheme="light" width="140" height="21"></fb:like>
                            </div>
                        </div>
                    </noindex>
                </div>
            </div>

            <!-- <div class='bleft'></div>-->
            <div class="bright">
                {% thumbnail article.image "315x210" crop="center" as im %}
                    <a href="{{ article.get_absolute_url }}" class="image " >
                        <img src="{{ im.url }}" alt="{{ n.name }}">
                    </a>
                {% endthumbnail %}
                <h1 class="title">{{ article.title }}</h1>
                {{ article.content|safe }}

                {% if article.newsgalleryimage_set.count > 0 %}
                    <h2>Фоторепортаж:</h2>
                    <div class="gallery">
                        {% for gallery_image in article.newsgalleryimage_set.all %}
                            <a href="{{MEDIA_URL}}{{gallery_image.image}}" data-lightbox="gallery" data-title="{{ gallery_image.title }}">
                                {% thumbnail gallery_image.image "145x80" crop="center" as im %}
                                    <img class="gallery-image" style="margin:0 auto" align="center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="clear"></div>



        <div class="bottom_social_holder">
            <noindex>
                <div class="social_links">
                    <div class='fb_holder'>
                        <fb:like action="recommend" show_faces="false" colorscheme="light" width="530" height="21"></fb:like>
                    </div>
                    <div class='g_button'><g:plusone size="medium"></g:plusone></div>
                    <div class='twitter_holder'>
                        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    </div>
                    <div class="clear"></div>
                </div>
            </noindex>
        </div>


    </div>

{% endblock %}