<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/style.css' />
    <title>{% block title %}Главная{% endblock %} | Рабинович-ТВ</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js">{lang: 'ru'}</script>
    <!--[if IE 6]><script type='text/javascript' src='/static/js/iehover.js'></script><![endif]-->
    {% block additional_css %}
    {% endblock %}
</head>
<body>

<!-- Facebook init script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=679896258722641&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- END Facebook init script -->



<div id='wrapper'>

    {% include "header.html" %}


    <div id='container'>
        <div class='holder'>

            {%  include "marquee_text.html" %}


            {% block content_top %}
            {% endblock %}

            <div id='left'>
                {% block content_left %}
                {% endblock %}
                <div class='clear'></div>
            </div>

            <!--#block_right [START]-->
            <div id='right'>
                {% if news_block %}
                    <div class='wrapper_right' style='padding-top:0px;'>
                        <div class='head'>
                            <a href='#' class='caption'>Лента новостей</a>
                        </div>
                        <div class='right_poll lenta'>

                            <div class="top_control">
                                <a class='btn_more polls_link ajax' href='{% url "view_news_all" %}' >Все новости</a>
                            </div>
                            {% for news_block_item in news_block %}
                                <span class=time>{{ news_block_item.date|date:'H:i' }}</span>
                                {% if news_block_item.title_color == "black_bold" %}
                                    <a href="{{ news_block_item.get_absolute_url }}" style="font-weight:bold!important;">{{ news_block_item.title }}</a>
                                {% elif news_block_item.title_color == "yellow" %}
                                    <a href="{{ news_block_item.get_absolute_url }}" style="color:#ffda00!important;">{{ news_block_item.title }}</a>
                                {% elif news_block_item.title_color == "yellow_bold" %}
                                    <a href="{{ news_block_item.get_absolute_url }}" style="color:#ffda00!important; font-weight:bold!important;">{{ news_block_item.title }}</a>
                                {% elif news_block_item.title_color == "red" %}
                                    <a href="{{ news_block_item.get_absolute_url }}" style="color:red!important;">{{ news_block_item.title }}</a>
                                {% elif news_block_item.title_color == "red_bold" %}
                                    <a href="{{ news_block_item.get_absolute_url }}" style="color:red!important; font-weight:bold!important;">{{ news_block_item.title }}</a>
                                {% else %}
                                    <a href="{{ news_block_item.get_absolute_url }}">{{ news_block_item.title }}</a>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                {% endif %}
                <!-- Голосование -->
                {% if poll_question %}
                    <div class='wrapper_right' style='padding-top:0px;'>
                        <div class='head'>
                            <a href='#' class='caption'>Опрос</a>
                        </div>
                        <div class='right_poll'>
                            <h4 class='title'>{{ poll_question.title }}</h4>
                            <div id='right_poll'>

                                {% if poll_voted %}
                                    <div class="poll_results">
                                        <ul class="res_answers">
                                            {% for poll_answer_item in poll_answers %}
                                                <li class="item">
                                                    <div class="text"><span>{{ poll_answer_item.title }}</span><strong>{{ poll_answer_item.percentage }}%</strong></div>
                                                    <div class="graph"><div class="vote_part" style="width:{{ poll_answer_item.percentage }}%;"></div></div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                {% else %}

                                    <div class="top_control">
                                        <a class='btn_more polls_link ajax' href='#' id="poll_result_button">Результаты</a>
                                    </div>
                                    <div class='poll_form'>
                                        <form id="poll_form" class='ajax'>
                                            {% csrf_token %}
                                            <ul class='answers'>

                                                {% for poll_answer_item in poll_answers %}

                                                    <li class='item'>
                                                        <input type='radio' class='radio' id='poll_form_answer_1' name='poll_id_answer' value='{{ poll_answer_item.id }}' />
                                                        <label for='poll_form_answer_1'>{{ poll_answer_item.title }}</label>
                                                    </li>

                                                {% endfor %}

                                            </ul>
                                            <div class='foot'>
                                                <a href='#' id='pull_form_submit' class='btn_more'>Голосовать</a>
                                                <div class='clear'></div>
                                            </div>
                                        </form>
                                    </div>

                                {% endif %}

                            </div>
                        </div>
                    </div>

                {% endif %}
                <!-- Конец Голосования -->

                <!--   Facebook block -->
                <div class="fb-like-box" data-href="https://www.facebook.com/Rabinovich.TV" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                <!-- -->
                {% block content_right %}
                {% endblock %}
            </div>
            <!--#block_right [END]-->
            <div class='clear'></div>
            <zone number='400' />
        </div>
    </div>
    <!--#container [END]-->
</div>


<!--#footer [START]-->
<div id='footer'>
    <div class='f_top'>
        <div class='holder'>
            <div class="bottomMenuBox">
                <div class="blockContainer">
                    <div class="narrowColumn4">
                        <h4><a href="/">Главная</a></h4>
                        <a href="{% url 'view_news_all' %}"><span>Новости</span></a>
                        <a href="{% url 'view_video_all' %}"><span>Видео</span></a>
                    </div>
                    <div class="narrowColumn4">
                        <h4><a href="/channel/about-us/">Компания</a></h4>
                        <a href="/channel/about-us/"><span>О канале</span></a>
                        <a href="/channel/broadcasting/"><span>Вещание</span></a>
                        <a href="/channel/news/"><span>Новости канала</span></a>
                        <a href="/channel/programs/"><span>Программы</span></a>
                        <a href="/channel/team/"><span>Команда</span></a>
                        <a href="{% url 'feedback' %}"><span>Обратная связь</span></a>
                    </div>
                    <div class="narrowColumn4 lastnarrowColumn4">
                        <h4><a href="/">Главная</a></h4>
                        <a href="{% url 'view_video_all' %}"><span>Последнее видео</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class='f_bottom'>
        <div class='holder'>
            <a class='logo_footer' href='#'></a>
            <p>© {%now "Y"%} Rabinovich-TV</p>
            <div class="right">
            </div>
            <p>Все права защищены</p>
        </div>

        <div style="text-align: center;">
            <!--bigmir)net TOP 100-->
            <script type="text/javascript" language="javascript"><!--
            bmN=navigator,bmD=document,bmD.cookie='b=b',i=0,bs=[],bm={v:16935611,s:16935611,t:7,c:bmD.cookie?1:0,n:Math.round((Math.random()* 1000000)),w:0};
            for(var f=self;f!=f.parent;f=f.parent)bm.w++;
            try{if(bmN.plugins&&bmN.mimeTypes.length&&(x=bmN.plugins['Shockwave Flash']))bm.m=parseInt(x.description.replace(/([a-zA-Z]|\s)+/,''));
            else for(var f=3;f<20;f++)if(eval('new ActiveXObject("ShockwaveFlash.ShockwaveFlash.'+f+'")'))bm.m=f}catch(e){;}
            try{bm.y=bmN.javaEnabled()?1:0}catch(e){;}
            try{bmS=screen;bm.v^=bm.d=bmS.colorDepth||bmS.pixelDepth;bm.v^=bm.r=bmS.width}catch(e){;}
            r=bmD.referrer.replace(/^w+:\/\//,'');if(r&&r.split('/')[0]!=window.location.host){bm.f=escape(r).slice(0,400);bm.v^=r.length}
            bm.v^=window.location.href.length;for(var x in bm) if(/^[vstcnwmydrf]$/.test(x)) bs[i++]=x+bm[x];
            bmD.write('<a href="http://www.bigmir.net/" target="_blank" onClick="img=new Image();img.src="http://www.bigmir.net/?cl=16935611";"><img src="http://c.bigmir.net/?'+bs.join('&')+'"  width="88" height="31" border="0" alt="bigmir)net TOP 100" title="bigmir)net TOP 100"></a>');
            //-->
            </script>
            <noscript>
                <a href="http://www.bigmir.net/" target="_blank"><img src="http://c.bigmir.net/?v16935611&s16935611&t7" width="88" height="31" alt="bigmir)net TOP 100" title="bigmir)net TOP 100" border="0" /></a>
            </noscript>
            <!--bigmir)net TOP 100-->

            <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t18.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet"+
                " ' "+
                "border='0' width='88' height='31'><\/a>")
        //--></script><!--/LiveInternet-->

            <!-- Rating@Mail.ru logo -->
            <a href="http://top.mail.ru/jump?from=2557458">
                <img src="//top-fwz1.mail.ru/counter?id=2557458;t=495;l=1"
                     style="border:0;" height="31" width="88" alt="Mail.ru" /></a>
            <!-- //Rating@Mail.ru logo -->

            <!-- Rating@Mail.ru counter -->
            <script type="text/javascript">
                var _tmr = _tmr || [];
                _tmr.push({id: "2557458", type: "pageView", start: (new Date()).getTime()});
                (function (d, w) {
                    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
                    ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                    var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
                    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
                })(document, window);
            </script><noscript><div style="position:absolute;left:-10000px;">
            <img src="//top-fwz1.mail.ru/counter?id=2557458;js=na" style="border:0;" height="1" width="1" alt="???????@Mail.ru" />
        </div></noscript>
            <!-- //Rating@Mail.ru counter -->


            <!-- begin of Top100 code -->

            <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3044619"></script>
            <noscript>
                <a href="http://top100.rambler.ru/navi/3044619/">
                    <img src="http://counter.rambler.ru/top100.cnt?3044619" alt="Rambler's Top100" border="0" />
                </a>

            </noscript>
            <!-- end of Top100 code -->

        </div>

    </div>
</div>
<!--#footer [END]-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53791767-1', 'auto');
    ga('send', 'pageview');

</script>



{% if poll_question %}
    <script>
            var poll_vote_url = '{% url "polls_vote" poll_question.id %}'; // the script where you handle the form input.
            var poll_vote_result = '{% url "polls_result" poll_question.id %}'; // the script where you handle the form input.

            $("#poll_result_button").click(function() {
                console.log('poll_result_button pressed');
                $.ajax({
                    type: "GET",
                    url: poll_vote_result,
                    success: function(data)
                    {
                        console.log(data);
                        $("#right_poll").html(data);
                    }
                });

                return false;
            });

            $("#pull_form_submit").click(function() {
                console.log('poll_form submit')
                if (!$("input[name='poll_id_answer']:checked").val()) {
                    alert('Вы не сделали ваш выбор!');
                    return false;
                }
                else
                {

                    $.ajax({
                        type: "POST",
                        url: poll_vote_url,
                        data: $("#poll_form").serialize(), // serializes the form's elements.
                        success: function(data)
                        {
                            $("#right_poll").html(data);
                        }
                    });
                }

                return false; // avoid to execute the actual submit of the form.
            });
    </script>
{% endif %}


</body>
</html>