{% extends "base.html" %}
{% load thumbnail %}
{% load youtube_filter %}
{% block title %}{{ category.title }}{% endblock %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.video.css' />
{% endblock %}

{% block content_left %}



    <div class='central_main_box central_full_video_list' id='central_full_video_list'>

        <div class='head'>
            <h2><span class='caption'>{{ category.title }}</span></h2>

        </div>
        <div class='content'>

            {% for video_item in videos %}
                {% if forloop.first %}

                    <ul class='first_news_list'>

                        <li class='item '>
                            <a href='{{ video_item.get_absolute_url }}' class='link'>
                                <img class='image' src='{{ video_item.youtube_link|youthumbnail:'s' }}' alt='{{ video_item.title }}' />
           <span class='info'>
             <span class='title'>{{ video_item.title }}</span>
             <span class='descr'>{{ video_item.content|striptags|truncatechars:470 }}</span>
             <span class='date'>{{ video_item.date|date:"d E Y" }}</span>
           </span>
                                <span class='clear'></span>
                            </a>

                        </li>

                    </ul>
                    <div class='clear'></div>
                    <ul class='news_list'>
                {% else %}

                    <li class='item '>
                        <a href='{{ video_item.get_absolute_url }}' class='link'>
                            <img class='image' src='{{ video_item.youtube_link|youthumbnail:'s' }}' alt='{{ video_item.title }}' />
           <span class='info'>
             <span class='title'>{{ video_item.title }}</span>
             <span class='date'>{{ video_item.date|date:"d E Y" }}</span>
             <span class='descr'>{{ video_item.content|striptags|truncatechars:130 }}</span>
           </span>
                            <span class='clear'></span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class='clear'></div>

            <div class="c_foot" style="">
                <div class="navigate">
                    {% if videos.has_previous %}
                        <span class="prev"><a href="?page={{ videos.previous_page_number }}">&lt;</a></span>
                    {% else %}
                        <span class="prev"></span>
                    {% endif %}

                    <div class="c_pager">
                        {% if videos.page_range_data.show_first %}
                            <a href="?page=1" class="page">1</a>
                            <span class="separator">...</span>
                        {% endif %}
                        {% for i in videos.page_range_data.page_range %}
                            {% ifequal i videos.number %}
                                <span class="selected">{{ i }}</span>
                            {% else %}
                                <a href="?page={{ i }}" class="page">{{ i }}</a>
                            {% endifequal %}
                        {% endfor %}
                        {% if videos.page_range_data.show_last %}
                            <span class="separator">...</span>
                            <a href="?page={{ videos.paginator.num_pages }}" class="page">{{ videos.paginator.num_pages }}</a>
                        {% endif %}
                    </div>

                    {% if videos.has_next  %}
                        <span class="next"><a href="?page={{ videos.next_page_number }}">&gt;</a></span>
                    {% else %}
                        <span class="next"></span>
                    {% endif %}
                </div>
            </div>


            <div class="clear"></div>
        </div>

    </div>

{% endblock %}