{% extends "base.html" %}
{% block title %}Обратная связь{% endblock %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.article.css' />
{% endblock %}
{% block content_left %}
<div class="central_article_news central_feedback_form">
  <div class="head"><h2><a class="caption" href="">О канале</a></h2></div>
  <div class="body">

    <ul class="menu">
      <li><a href="/channel/about-us/">О канале</a></li>
      <li><a href="/channel/broadcasting/">Вещание</a></li>
      <li><a href="/channel/news/">Новости</a></li>
      <li><a href="/channel/programs/">Программы</a></li>
      <li><a href="/channel/team/">Команда</a></li>
      <li class="active"><a class="active" href="/channel/feedback/">Обратная связь</a></li>
    </ul>
    <!-- <div class='bleft'></div>-->
    <div class="bright">
      <div class="aright">
      </div>
      <div class="clear"></div>
      <div id="central_feedback_form" class="holder_form"><div class="message"><span class="finish_message">Спасибо большое за Ваш отзыв.</span></div></div>


    </div>
  </div>



</div>
{% endblock %}
