{% extends "base.html" %}
{% block title %}Обратная связь{% endblock %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.article.css' />
{% endblock %}
{% block content_left %}
    <div class="central_article_news central_feedback_form">
        <div class="head"><h2><a class="caption" href="">О канале</a></h2></div>
        <div class="body">

            <ul class="menu">
                <li><a href="/channel/about-us/">О канале</a></li>
                <li><a href="/channel/broadcasting/">Вещание</a></li>
                <li><a href="/channel/news/">Новости</a></li>
                <li><a href="/channel/programs/">Программы</a></li>
                <li><a href="/channel/team/">Команда</a></li>
                <li class="active"><a class="active" href="/channel/feedback/">Обратная связь</a></li>
            </ul>
            <!-- <div class='bleft'></div>-->
            <div class="bright">
                <div class="aright">
                </div>
                <div class="clear"></div>
                <div id="central_feedback_form" class="holder_form">

                    <div class="contacts-form">
                        <form method="POST" class="ajax form ajax-ready">
                            {% csrf_token %}

                            <div class="fleft">
                                <label for="f1">Имя</label>
                            </div>
                            <div class="fright">
                                <input class="field" name="title" value="{{ form.data.title }}" id="f1" type="text">
                            </div>
                            <div class="fleft">
                                <label for="f2">E-mail</label>
                            </div>
                            <div class="fright">
                                <input class="field" name="email" value="{{ form.data.email }}" id="f2" type="text">
                            </div>
                            <div class="fleft">
                                <label for="f3">Тема</label>
                            </div>
                            <div class="fright">
                                <input class="field" name="subject" value="{{ form.data.subject }}" id="f3" type="text">
                            </div>
                            <div class="fleft">
                                <label for="f4" class="message">Сообщение</label>
                            </div>
                            <div class="fright">
                                <textarea name="body" class="message" id="f4">{{ form.data.body }}</textarea>
                                <span class="text "></span>
                                {% if form.errors %}
                                    <span class="text error">Проверьте правильно ли заполнены все поля</span>
                                {% endif %}
                            </div>
                            <div class="fleft">
                            </div>
                            <div class="fright btn_send">
                                <input class="btn_type_1" type="submit" value="Отослать">
                            </div>
                            <input name="action" value="sendmsg" type="hidden">
                        </form>
                    </div>


                </div>


            </div>
        </div>
    </div>
{% endblock %}
