<div id='header'>
    <div class='holder'>

        <div class='info'>
            <a href='{% url 'main' %}' class='logo_channel'>RabonivichTV</a>
            <div class='clear'></div>
        </div>


        <div class='right'>

            <div class='control_holder'>
<!--
                <div class='lang'>
                    <select id="select_lang" class="top_region">
                        <option value="1">English</option>
                        <option value="2" selected="selected">Русский</option>
                    </select>
                    <div class='clear'></div>
                </div>
-->
                <div class='search_holder'>
                    <div class='block_search'>
                        <form action='/search/'  method='get' name='menu_search' id='search' class='search'>
                            <div>
                                <label for='string' >Search</label>
                                <input type="text" name="q" id="query" value="{{ form.q.value }}" />
                                <input type='submit' value='Go' id='submit' />
                                <br class='clear' />
                            </div>
                        </form>
                    </div>
                </div>

                <div class='twitter_holder'><a href='https://twitter.com/RabinovichTV' target='_blank'><img border="0" src="{{STATIC_URL}}img/top_twitter.png"></a></div>
                <div class='fb_holder'><a href='https://www.facebook.com/Rabinovich.TV' target='_blank'><img border="0" src="{{STATIC_URL}}img/top_fb.png"></a></div>
                <div class='yt_holder'><a href='https://www.youtube.com/channel/UC9RgZLMErqwAlzXVgyhC3RQ/feed' target='_blank'><img border="0" src="{{STATIC_URL}}img/top_yt.png"></a></div>
                <div class='rss_holder'><a href='{% url "rss_news" %}' target='_blank'><img border="0" src="{{STATIC_URL}}img/top_rss.png"></a></div>

            </div>


            <ul class='menu js_hover'>

                {% for menu_item in menu %}
                    {% if forloop.first %}
                        <li class='item {% if menu_item.url == request.path %}selected{% endif %}'>

                            <a href='{{ menu_item.url }}' class='link' target='_self'>{{ menu_item.title }}</a>

                        </li>
                    {% else %}
                        <li class='item {% if menu_item.url in request.path %}selected{% endif %}'>

                            <a href='{{ menu_item.url }}' class='link' target='_self'>{{ menu_item.title }}</a>

                        </li>
                    {% endif %}
                {% endfor %}

            </ul>

            <div class='clear'></div>
            <!--//<a href='/' class='main_link'></a>//-->

        </div>
    </div>

</div>