{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% load thumbnail %}
{% load youtube_filter %}
{% block content_top %}
    <div class='central_wide_ticker'>

        <div class='ticker_left'>

            <div class='bn_title'>Горячие новости</div>
            <ul class='bn_list'>
                {% for top_news_item in top_news %}
                    <li class='item_bn  {% cycle 'odd' 'even' %}'><a class='link' href='{{ top_news_item.get_absolute_url }}'>{{ top_news_item.title|truncatechars:35 }}</a></li>
                {% endfor %}
            </ul>
            <a class='btn_more' href='/news'>Все новости</a>

        </div>

        <div class='ticker_right'>
            <div class='player'>
                <div class='player vp' id='videoplayer'>

                <!--
                    <script type="text/javascript" src="http://media-player.cdn.level3.net/flash/v1_1_5/js/swfobject.js"></script>
                    <script type="text/javascript">
                        var flashvars = {};
                        flashvars.HaloColor = "0x0086db";
                        flashvars.ToolTips = "false";
                        flashvars.AutoPlay = "true";
                        flashvars.VolumeLevel = "50";
                        flashvars.CaptionURL = "";
                        flashvars.Title = "";
                        flashvars.Logo = "";
                        flashvars.SRC = "rtmp://jn1livefs.fplive.net/jn1live-live/_definst_/stream001RUS";
                        flashvars.BufferTime = "5";
                        flashvars.AutoHideControls = "false";
                        flashvars.IsLive = "false";
                        flashvars.hasPlaylist = "false";
                        flashvars.ShowPlaylist = "false";
                        flashvars.conviva_service_url = "";
                        flashvars.conviva_customer_id = "";
                        flashvars.conviva_assetname_prefix = "";
                        flashvars.isMobile = navigator.userAgent.toLowerCase().indexOf("android") > -1 ? "true" : "false";
                        var params = {};
                        params.wmode = "transparent";
                        params.allowfullscreen = "true";
                        var attributes = {};
                        attributes.id = "L3MP";
                        swfobject.embedSWF("http://media-player.cdn.level3.net/flash/v1_1_5/Level3MediaPlayer.swf", "altContent", "654", "360", "10.1.0", "http://media-player.cdn.level3.net/flash/v1_1_5/expressInstall.swf", flashvars, params, attributes);
                    </script>
                    -->
                    {% if top_video %}
                        {{ top_video.youtube_link|youtube_main_embed_url|safe }}
                    {% endif %}
                    <!--
                    <div id="altContent">
                        <a href="http://www.adobe.com/go/getflashplayer">
                            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                        </a>
                    </div>
                    -->

                </div>
            </div>
        </div>

    </div>
    <div class='clear'></div>
{% endblock %}


{% block content_left %}

    <div class='central_main_box central_main_last_video'>

        <div class='head'>
            <h2><span class='caption'>Последнее видео</span></h2>
            <div class='top_control'>
                <a class='btn_more' href='{% url "view_video_all" %}'>Все видео</a>
            </div>
        </div>
        <div class='content'>
            <ul class='video_list'>

                {% for last_videos_item in last_videos%}
                    <li class='item  first'>
                        <a href='{{ last_videos_item.get_absolute_url }}' class='link'>
                            <img class='image' src="{{ last_videos_item.youtube_link|youthumbnail:'s' }}" alt='' />
                   <span class='info'>
                    <span class='title'>{{ last_videos_item.title }}</span>
                    <span class='descr'>{{ last_videos_item.content|striptags|truncatechars:60 }}</span>
                    <span class='date'>{{ last_videos_item.date|date:"d E Y" }}</span>
                   </span>
                            <span class='clear'></span>
                        </a>

                    </li>
                {% endfor %}

            </ul>
            <div class='clear'></div>
        </div>

    </div>


{% endblock %}