<div class='top_moving_text'>

    <div class="marquee-container" id="marquee_container">
        <div class="marquee-subcontainer" id="marquee_subcontainer">
            <div class="marquee-text" id="marquee_text">
                {% for maquee_item in marquee_text %}
                    {% if forloop.first %}
                        {{ maquee_item.title }}
                    {% else %}
                        <img src='{{STATIC_URL}}img/top_mt_delimer.jpg'>{{ maquee_item.title }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class='clear'></div>

<script type='text/javascript'>
    // текущий сдвиг текста относительно левой границы блока бегущей строки
    var craw_line_offset;

    // функция инициализации бегущей строки
    function enableCrawLine () {
        craw_line_offset = 0;

        // ширина текстового блока
        var craw_line_width = document.getElementById('marquee_text').offsetWidth;

        moveCrawLine (craw_line_width);
    }

    // функция пошагового сдвига
    function moveCrawLine (w) {
        var lefttime;
        var container_width = document.getElementById('marquee_container').offsetWidth;
        // шаг (в пикселях), с которым будем перемещать текст
        var step = 1;
        // задержка между перемещениями на step пикселей
        var tdelay = 10;

        // ширина текстового блока
        w = parseInt(w);

        // если блок не "заехал" за левую границу
        if (craw_line_offset<(w+container_width)) {
            // сдвигаем блок на шаг влево
            craw_line_offset = craw_line_offset + step;
        } else {
            // иначе начинаем все с начала
            craw_line_offset = 0;
        }

        // изменяем позицию текстового блока
        document.getElementById('marquee_text').style.left = parseInt(container_width-craw_line_offset)+'px';

        // рекурсивно вызываем функцию сдвига с заданной задержкой
        setTimeout('moveCrawLine ('+w+');', tdelay);
    }

    // вызов инициализирующей функции
    enableCrawLine ();
</script>