{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% load thumbnail %}
{% load youtube_filter %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.video.css' />
{% endblock %}

{% block content_left %}



    <div class='central_main_box central_full_video_list' id='central_full_video_list'>

        <div class='head'>
            <h2><span class='caption'>Фоторепортажи</span></h2>
        </div>
        <div class='content'>
            <ul class='news_list'>
                {% for news_item in news %}
                    <li class='item '>
                        <a href='{{ news_item.get_absolute_url }}' class='link'>
                            {% thumbnail news_item.image "100x75" crop="center" as im %}
                                <img src="{{ im.url }}" alt="{{ n.name }}" class="image">
                            {% endthumbnail %}
                            <span class='info'>
                                 <span class='title'>{{ news_item.title }}</span>
                                 <span class='date'>{{ news_item.date|date:"d E Y H:i" }}</span>
                                 <span class='descr'>{{ news_item.content|striptags|truncatechars:130 }}</span>
                            </span>
                            <span class='clear'></span>
                        </a>
                    </li>

                {% endfor %}
            </ul>
            <div class='clear'></div>

            <div class="c_foot" style="">
                <div class="navigate">
                    {% if news.has_previous %}
                        <span class="prev"><a href="?page={{ news.previous_page_number }}">&lt;</a></span>
                    {% else %}
                        <span class="prev"></span>
                    {% endif %}

                    <div class="c_pager">
                        {% if news.page_range_data.show_first %}
                            <a href="?page=1" class="page">1</a>
                            <span class="separator">...</span>
                        {% endif %}
                        {% for i in news.page_range_data.page_range %}
                            {% ifequal i news.number %}
                                <span class="selected">{{ i }}</span>
                            {% else %}
                                <a href="?page={{ i }}" class="page">{{ i }}</a>
                            {% endifequal %}
                        {% endfor %}
                        {% if news.page_range_data.show_last %}
                            <span class="separator">...</span>
                            <a href="?page={{ news.paginator.num_pages }}" class="page">{{ news.paginator.num_pages }}</a>
                        {% endif %}
                    </div>

                    {% if news.has_next  %}
                        <span class="next"><a href="?page={{ news.next_page_number }}">&gt;</a></span>
                    {% else %}
                        <span class="next"></span>
                    {% endif %}
                </div>
            </div>

            <div class="clear"></div>
        </div>

    </div>

{% endblock %}