<div class="top_control">
    <a class='btn_more polls_link ajax' href='#' id="poll_result_button">Результаты</a>
</div>
<div class='poll_form'>
    <form id="poll_form" class='ajax'>
        {% csrf_token %}
        <ul class='answers'>
            {% for poll_answer_item in poll_answers %}
                <li class='item'>
                    <input type='radio' class='radio' id='poll_form_answer_1' name='id_answer' value='{{ poll_answer_item.id }}' />
                    <label for='poll_form_answer_1'>{{ poll_answer_item.title }}</label>
                </li>
            {% endfor %}
        </ul>
        <div class='foot'>
            <a href='#' id='pull_form_submit' class='btn_more'>Голосовать</a>
            <div class='clear'></div>
        </div>
    </form>
</div>