          <div class="poll_results">
            <ul class="res_answers">
             {% for poll_answer_item in choices %}
              <li class="item">
                <div class="text"><span>{{ poll_answer_item.title }}</span><strong>{{ poll_answer_item.percentage }}%</strong></div>
                <div class="graph"><div class="vote_part" style="width:{{ poll_answer_item.percentage }}%;"></div></div>
              </li>
             {% endfor %}
            </ul>
          </div>