{% extends "base.html" %}
{% block title %}Видео{% endblock %}
{% load thumbnail %}
{% load youtube_filter %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.video.css' />
{% endblock %}
{% block content_left %}


    <div class="box_holder" style="margin:0px;">
        <div class="central_main_box central_video_list" id="central_video_list">

            <div class="head">
                <span class="caption">Последнее видео</span>

                <!--//<div class='sorting'>
                  <div class='block'>
                    <span class='caption caption_selected'>Дата</span>
                    <a href='javascript:void(0)' id='sort_date_desc' class='sort sort_down sort_selected'>&nbsp;</a>
                    <a href='javascript:void(0)' id='sort_date_asc' class='sort sort_up '>&nbsp;</a>
                  </div>
                  <div class='block'>
                    <span class='caption '>Назва</span>
                    <a href='javascript:void(0)' id='sort_title_desc' class='sort sort_down '>&nbsp;</a>
                    <a href='javascript:void(0)' id='sort_title_asc' class='sort sort_up '>&nbsp;</a>
                  </div>
                  <div class='clear'></div>
                </div>//-->
            </div>

            <div class="lead">
            </div>

            <div class="content">

                <ul class="list">

                    {% for video_item in videos %}
                        <li class="{% cycle 'item ' 'item last' %}">
                            <a href="{{ video_item.get_absolute_url }}" class="link" rel="217183">
                                <div class="btn_play"></div>
                                <img class="image" src="{{ video_item.youtube_link|youthumbnail:"s" }}" alt="{{ video_item.title }}">
                                <div class="bg_title"></div>
                                <div class="info">
                                    <div class="title">{{ video_item.title }}</div>
                                    <div class="date">{{ video_item|date:"d E Y" }}</div>

                                </div>
                            </a>
                        </li>
                    {% endfor %}



                </ul>

                <div class="c_foot" style="">
                    <div class="navigate">
                        {% if videos.has_previous %}
                            <span class="prev"><a href="?page={{ videos.previous_page_number }}">&lt;</a></span>
                        {% else %}
                            <span class="prev"></span>
                        {% endif %}

                        <div class="c_pager">
                            {% if videos.page_range_data.show_first %}
                                <a href="?page=1" class="page">1</a>
                                <span class="separator">...</span>
                            {% endif %}
                            {% for i in videos.page_range_data.page_range %}
                                {% ifequal i videos.number %}
                                    <span class="selected">{{ i }}</span>
                                {% else %}
                                    <a href="?page={{ i }}" class="page">{{ i }}</a>
                                {% endifequal %}
                            {% endfor %}
                            {% if videos.page_range_data.show_last %}
                                <span class="separator">...</span>
                                <a href="?page={{ videos.paginator.num_pages }}" class="page">{{ videos.paginator.num_pages }}</a>
                            {% endif %}
                        </div>

                        {% if videos.has_next  %}
                            <span class="next"><a href="?page={{ videos.next_page_number }}">&gt;</a></span>
                        {% else %}
                            <span class="next"></span>
                        {% endif %}
                    </div>
                </div>


                <div class="clear"></div>
            </div>

        </div>
    </div>

{% endblock %}