{% extends "base.html" %}
{% block title %}{{ video.title }}{% endblock %}
{% load thumbnail %}
{% load youtube_filter %}
{% block additional_css %}
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}style/section.video.css' />
{% endblock %}

{% block content_left %}
    <div class='central_video' id='central_video'>
        <div class='vhead'>
            <h2><a class='caption' href='{{ video.category.get_absolute_url }}'>{{ video.category }}</a></h2>
        </div>
        <div class='lead'>
            <h1 class='title'>{{ video.title }}</h1>
            <div class='date'>{{ video.date|date:"d E Y" }}</div>
        </div>
        <div class='content'>
            <div class='player vp' id='videoplayer'>
                {{ video.youtube_link|youtube_embed_url|safe }}
            </div>

            <div class='descr'>
                {{ video.content|safe }}
            </div>
        </div>
        <div class='bottom_social_holder'>
            <noindex>
                <div class='social_links'>
                    <div class='fb_holder'>
                        <fb:like action="recommend" show_faces="false" colorscheme="light" width="530" height="21"></fb:like>
                    </div>
                    <div class='g_button'><g:plusone size="medium"></g:plusone></div>
                    <div class='twitter_holder'>
                        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    </div>
                    <div class='clear'></div>
                </div>
            </noindex>
        </div>
    </div>

{% endblock %}